*{
  margin: 0;
}

body {
  background-color: #f5f6f2;
}

.App {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.App-stats {
  display: flex;
  justify-content: space-between;
}

.App-left {
  flex: 0.8;
}

.App-right {
}

@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }
}
